@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black text-white;
}

dialog {
    max-width: 100vw;
    max-height: 100vh;
}

:root {
  --background:rgba(247, 244, 235, 1);
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: rgba(13, 31, 8, 1);
  --primary-foreground: 210 40% 98%;

  --secondary:rgba(230, 201, 125, 1);
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

@layer base {
* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}